header
{
    height:100px;
    width:1500px;
    font-family: Corbel;
   
    
}
.head1
{
    display:grid;
    grid-template-columns: (1,8fr);
    padding:20px;
    font-family: Corbel;
    font-weight: 500;
}
button{
    font-weight:bold;
    font-family: Corbel;
    background-color: dodgerblue;
    font-size:120%;
    color:antiquewhite;
    width:100px;
    height:45px;
    padding:5px;
    text-align: center;
    justify-content: right;
    margin-left: 1250px;
    margin-top: 50px;
    
}

footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}